<!DOCTYPE html>
<html>
  <head>
    <!-- CSS Imports -->
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Map -->
    <div class="header"></div>
    <div id="map" class="map"></div>
    <!-- Sidebar -->
    <div class="control">
      <h1 class="h3">Water Monitoring Sites</h1>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Find sites">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div><!-- /input-group -->
    </div>
    <!-- Javascript Imports -->
    <script src="../../js/leaflet.js"></script>
    <script src="../../js/setup.js"></script>
  </body>
</html>
